### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data = purchase_data.dropna()

## Player Count

* Display the total number of players

In [2]:
num_players = purchase_data["SN"].drop_duplicates().count()
number_of_players_df = pd.DataFrame({"Total Players": [num_players]})
number_of_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items
#Average Price
#Number of Purchases
#Total Revenue
purchase_data
num_unique_items = purchase_data["Item Name"].drop_duplicates().count()
avg_price = purchase_data["Price"].mean()
total_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
purchasing_Analysis_df = pd.DataFrame({"Number of Unique Items": [num_unique_items], "Average Price": [avg_price], "Number of Purchases": [total_purchases], "Total Revenue": [total_revenue]})
purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Total count of Players
#Percentage of Players
#Male/Female/Other
purchase_data
framegenderdf  = purchase_data.iloc[:,:]
framegenderdf_final = framegenderdf.drop_duplicates("SN")
#gender_Demo_df = pd.DataFrame({"Total Players": [female_Players], [male_Players], [other_Players], "Percentage of Players": [percent_Fem], [percent_Male], [percent_Other] })
num_total_players = purchase_data["SN"].drop_duplicates().count()
female_Players = framegenderdf_final.loc[purchase_data["Gender"] == "Female"]
male_Players = framegenderdf_final.loc[purchase_data["Gender"] == "Male"]
other_Players = framegenderdf_final.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
women = female_Players["Purchase ID"].count()
men = male_Players["Purchase ID"].count()
other = other_Players["Purchase ID"].count()
percWomen = women/num_total_players
percMen = men/num_total_players
percOther = other/num_total_players
#percFemale = women/num_total_players
#percMale = men/num_total_players
#percOther = other_Players/num_total_players
frame_df = pd.DataFrame({
    "Total Count": [women, men, other],
    "Percentage of Players": [percWomen, percMen, percOther],
    "Gender": ["Women", "Men", "Other / Non-Disclosed"]
})
frame_df = frame_df.groupby("Gender")
frame_df.mean()

                       Total Count  Percentage of Players
Gender
Men                            484               0.840278
Other / Non-Disclosed           11               0.019097
Women                           81               0.140625


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [5]:
#purchase count
#average purchase price
#Total purchase value
#Avg Total Purchase per 'Gender'

female_Players_df = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_Players_num = female_Players_df["SN"].count()
female_Players_num
female_Players_sum = female_Players_df["Price"].sum()
female_Players_avg = female_Players_df["Price"].mean()
female_Players_avg
##------------------------##
male_Players_df = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_Players_num = male_Players_df["SN"].count()
male_Players_num
male_Players_sum = male_Players_df["Price"].sum()
male_Players_avg = male_Players_df["Price"].mean()
male_Players_avg
##------------------------##
other_Players_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_Players_num = other_Players_df["SN"].count()
other_Players_num
other_Players_sum = other_Players_df["Price"].sum()
other_Players_avg = other_Players_df["Price"].mean()
other_Players_avg

Genderframe_df = pd.DataFrame({
    "Purchase Count": [female_Players_num, male_Players_num, other_Players_num],
    "Average Purchase Price": [female_Players_avg, male_Players_avg, other_Players_avg],
    "Total Purchases": [female_Players_sum, male_Players_sum, other_Players_sum],
    "Gender": ["Women", "Men", "Other / Non-Disclosed"]
})
#Genderframe_df = frame_df.groupby.apply("Gender")
Genderframe_df.groupby("Gender").mean()

                       Purchase Count  Average Purchase Price  Total Purchases
Gender
Men                               652                3.017853          1967.64
Other / Non-Disclosed              15                3.346000            50.19
Women                             113                3.203009           361.94

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
###This is a googled answer

age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(purchase_data["Age"], age_bins,labels=age_labels)
purchase_data

##found solution....
# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=age_labels)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = age_grouped["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/num_total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
##Also a googled answer, just did not have the tinme to go through the process of figuring out which approach to take

# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
purchase_data
purchase_data
players_data = purchase_data.groupby("SN")
#players_purchase_count = players_data["Purchase Id"]
#players_purchase_count
players_data_purchase_count = players_data["Purchase ID"].count()
players_data_purchase_avg = players_data["Price"].mean()
players_data_purchase_sum = players_data["Price"].sum()
purchase_analysis = pd.DataFrame({"Purchase Count": players_data_purchase_count,
                             "Average Purchase Price": players_data_purchase_avg,
                             "Total Purchase Value":players_data_purchase_sum})

purchase_analysis.sort_values(["Total Purchase Value"], ascending=False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
most_popular_data = purchase_data.loc[:, ["Item ID", "Item Name", "Purchase ID", "Price"]]
most_popular_data = most_popular_data.groupby(["Item ID", "Item Name"])
most_popular_id = most_popular_data["Item ID"]
most_popular_name = most_popular_data["Item Name"]
most_popular_count = most_popular_data["Price"].count()
most_popular_sum = (most_popular_data["Price"].sum())
most_popular_price = most_popular_sum/most_popular_count

most_popular_analysis = pd.DataFrame({"Purchase Count": most_popular_count, 
                                   "Item Price": most_popular_price,
                                   "Total Purchase Value":most_popular_sum})

most_popular_analysis1 = most_popular_analysis.sort_values(["Purchase Count"], ascending=False)
most_popular_analysis1.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [30]:
most_profitable_analysis = most_popular_analysis.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
most_profitable_analysis

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80